<div class="row" style="justify-content: center;">
    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
        <div class="category">
            <div class="feature-content">
                <div style="width:400px" #application>
                    <p><b style="color: blue;">Create Category</b></p>

                    <iui-treeview [items]="data" [controlStyle]="treeStyle" [iuiContextMenu]="menuSettings"
                        [contextMenuRef]="contextMenuReference" (contextmenu) = "rightClick($event)" (itemClick) = "menuItemClick($event)" #treeview>
                        <ng-template let-item>
                            <span *ngIf="item!=editItem" style="padding: 5px;border-radius: 10px;"
                                [ngClass]="{'my_class': item.isActive === 0}">{{item.text}}  </span>
                                
                            <input *ngIf="item==editItem" class="hover" type="text" [(ngModel)]="item.text"
                                (keydown)="editorKeyDown($event)" [iuiFocus]="editorFocused"
                                (blur)="editorLostFocus()" />
                        </ng-template>
                    </iui-treeview>
                    
                </div>
            </div>
        </div>
    </div>
</div>